/.metadata/
assignments/bin
Bank_App_JDBC/.settings
Bank_App_JDBC/bin
Bank_App_JDBC/.classpath
Bank_App_JDBC/.project

collection_assignments/.settings
collection_assignments/bin
collection_assignments/.classpath
collection_assignments/.project

Exception_Handling/.settings
Exception_Handling/bin
Exception_Handling/.classpath
Exception_Handling/.project

inheritence_assignments/.settings
inheritence_assignments/bin
inheritence_assignments/.classpath
inheritence_assignments/.project